body {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #1F2937;
    background-color: white
}

#global {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: white;
    padding: 0px 150px 0px 150px; /* 150px */
    height: 480px;
}

.top {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 50px;
}

.top p {
    margin-right: auto ;
    font-size: 24px;
    font-weight: 900;
}

.top a {
    text-decoration: none;
    color: white;
}

.hero {
    display: flex;
    flex: 1;
    gap: 50px;
    justify-content: space-between;
}

.text {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero p {
    font-size: 18px;
    margin: 0;
}

.text button {
    background-color: #3882F6;
    color: white;
    font-size: 24px;
    font-weight: bold;
    align-self: flex-start;
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

.img img {
    width: 360px;
    height: 210px;
    object-fit: cover;
}

.under_hero {
    display: flex;
    flex-direction: column;
    padding: 0px 150px 0px 150px;
    height: 450px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.scroll {
    display: flex;
}

.card img {
    border: 5px solid #3882F6;
    width: 160px;
    height: 160px;
    border-radius: 15px;
        object-fit: cover;
}

.card_group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_group p {
    font-size: 18px;
    text-align: center;
    padding: 0 20px 0 20px
}

.under_hero h2 {
    font-size: 36px;
    font-weight: 900;
    margin: 0;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 0px 150px 0px 150px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote .name {
    font-weight: 900;
    align-self: flex-end;
    margin-top: 0;
    font-style: none;
}

.cta{
    padding: 0px 150px 0px 150px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluebox {
    color: white;
    border: 2px solid #3882F6;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px 80px 40px 80px;
    display: flex;
    gap: 50px;
    align-items: center;
}

.bluebox button {
    width: 80px;
    align-self: center;
    border: 2px solid white;
    background-color: #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

#bigtext {
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 0;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 0px 150px 0px 150px;
    text-align: center;
}

